[Unit]
Description=HelloWorld
Requires=network.target
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/helloworld.sh 
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

